$speed-dial-padding: 0px !important;
$speed-dial-button-margin: 20px !important;

.v-speed-dial--bottom {
    bottom: 0px !important;
    right: 0px !important;
}
.service-link{
	.v-image__image{
		background-size: contain;
  }
}
