.displayNone{
    margin-top: -9000px;
  }
  .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0c000099;
    top:0;
    left: 0;
    .card-blog-title,
    .card-blog-subtitle
    {
      color: $white-color !important;
    }
  }
  .full-height{
    height: 100%;
  }

  .single-blog{
    .blog-title{
      color: $primary-color;
    }
    .blog-meta{
      color: $secondary-color;
      margin-top: -10px;
    }
    .blog-img{
      img{
        max-width: 99%;
        display: block;
        border-radius: 5px;
      }
      
    }
  }

  .recent-blog{
    .date{
      font-size: 12px;
      color: $secondary-color;
    }
    .rtitle{
      font-size: $sm-text-size !important;
      color: $primary-color !important;
    }
  }
  