.pricing-table-bg {
  background-size: cover;
  box-shadow: 0px 0px 100px 5px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px;
  padding: 46px 50px 52px;
}
.front-table {
  z-index: 9;
}
.price {
  font-size: $xl-text-size;

  font-weight: 800;
  margin: 30px 0;
}
.pricing-option {
  font-size: $md-text-size;
  margin-bottom: 10px;
}
