.elementor-image{
	margin-left:-50px
}
.service-link{
	display: block;
	width: 100%;
	text-decoration:none;
	transition: .2s;
}
.service-link:hover{
	margin-left: 3px;
	.hover:hover{
		box-shadow: 2px 3px 8px #00000094;
	}
}