$primary-color: #d81b60;
$secondary-color: #880e4f;
$accent-color: #f8bbd0;
$white-color: #d1d4d8;
$title-text-size: 30px;
$sub-title-text-size: 14px;
$title-color: $primary-color;
$sub-title-color: $secondary-color;
$xl-text-size: 50px;
$lg-text-size: 25px;
$md-text-size: 20px;
$sm-text-size: 15px;
$xs-text-size: 13px;
